$max: 766px;

main,
body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

main {
  margin-bottom: 122px;
  position: relative;
  z-index: 99;
  overflow-y: hidden;
  @media screen and (max-width: 766px) {
    margin-bottom: 160px;
  }
}

.title {
  &-h1 {
    // transform: skewY(-3deg);
    text-shadow: #bfbaff 2px 2px, #ffdef7 2px 2px;
    // text-shadow: red 4px 4px yellow 8px 8px;
    color: chocolate;
    font-size: 60px;
  }
}

.share-sosmed {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  padding: 8px;
  // border: 2px dashed white;
  border-radius: 16px;
  left: 8px;
  top: 180px;
  z-index: 99999;
  @media screen and (max-width: 766px) {
    left: initial;
    right: 8px;
    top: initial;
    text-align: center;
    bottom: 164px;
    position: initial;
    display: block;
    z-index: -1;
    background: black;
    border-radius: 0;
  }
  a {
  }
  img {
    width: 32px;
    height: 32px;
    margin: 0 auto 8px;
    text-align: center;
    display: block;
    margin-bottom: 8px;
    transition: 0.6s;
    @media screen and (max-width: 766px) {
      display: inline-block;
    }
    &:hover {
      margin-left: 8px;
    }
  }
}

.text-center {
  text-align: center;
}

.font {
  &-bold {
    // font-weight: bold;
    font-family: "Roboto Slab", serif;
  }
  &-big {
    font-size: 42px;
  }
}

.color {
  &-white {
    color: white;
  }
}

.irian {
  background: url("../img/irian1.jpg");
  background-size: cover;
  height: 100vh;
  padding: 82px 0;
  // background-attachment: fixed;
  // background-position: center;
  background-repeat: no-repeat;
  // background-size: cover;
  z-index: 99999;
  position: relative;
}

.irianjaya {
  background-image: url("../img/download.png");
  background-size: cover;
  min-height: 100vh;
  padding: 150px 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  // background-size: cover;
  z-index: 999;
  position: relative;
}

.irianjaya1 {
  background-image: url("../img/download1.png");
  background-size: cover;
  min-height: 100vh;
  padding: 150px 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  // background-size: cover;
  z-index: 999;
  position: relative;
}

.papua {
  padding: 82px 0;
  background: white;
  position: relative;
  z-index: 1;
  &__help {
    position: absolute;
    right: 24px;
    top: 24px;
    opacity: 0.5;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.card {
  padding: 16px;
  background: rgba($color: #fff, $alpha: 0.8);
  box-shadow: 0 3px 6px #bbb;
  p {
    margin-bottom: 0;
  }
}

.one-by-one {
  // color: lime;
  // font-family: "Courier";
  // font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  opacity: 0;
  animation: type 4s steps(60, end) forwards;
  -webkit-user-select: none;
  user-select: none;
}

@keyframes type {
  0% {
    opacity: 1;
  }
  100% {
    width: 30em;
    opacity: 1;
  }
}

.autoplay {
  &__img {
    height: 70vh;
    position: relative;
    @media screen and (max-width: 766px) {
      height: 50vh;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    // background: rgba($color: #000000, $alpha: 0.5);
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.9)
    );
    padding: 24px;
    // font-weight: bold;
    color: white;
  }
}

.quote {
  color: #c86551;
  font-size: 24px;
  width: 480px;
  float: left;
  line-height: 32px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  margin-right: 32px;
  @media screen and (max-width: 766px) {
    width: auto;
  }
}

.image-slider {
  margin: 16px 0;
}

.bottom-10 {
  margin-bottom: 80vh;
}

.jobdesc {
  font-style: italic;
  color: #555;
  font-weight: bold;
}
.name {
  font-size: 18px;
  // font-weight: bold;
}
.credit {
  padding: 32px 0;
  background: white;
  border-top: 2px dashed #444;
  position: relative;
  &__img {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

section {
  position: relative;
  background: white;
  overflow-x: hidden;
  .bg-map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .bg-help {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 3;
  }
  .content {
    padding: 16px;
  }
}
.to-top {
  position: relative;
  z-index: 20;
}

//slick
.slick-next,
.slick-prev {
  background: white;
  width: 30px;
  height: 30px;
  box-shadow: 1px 3px 2px #bbb;
  border-radius: 50%;
  &:hover,
  &:focus {
    color: orange;
    outline: none;
    background: white;
  }
}
.slick-next:before,
.slick-prev:before {
  font-family: "FontAwesome";
  font-size: 20px;
  text-align: center;
  color: #f7941f;
  opacity: 1;
}
.slick-next {
  &:before {
    content: "\f054";
  }
  right: 20px;
  text-align: center;
}

.slick-prev {
  &::before {
    content: "\f053";
  }
  left: 20px;
  z-index: 1;
}

.welcome {
  position: absolute;
  right: 32px;
  top: 0;
  @media screen and (max-width: $max) {
    right: 0;
  }
  &.text-pop-up-top {
    -webkit-animation: text-pop-up-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      infinite alternate both;
    animation: text-pop-up-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
      alternate both;
  }
  @-webkit-keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
        0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
        0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  @keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
        0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
        0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  strong {
    font-size: 80px;
    display: block;
    color: #efefef;
    @media screen and (max-width: $max) {
      font-size: 50px;
    }
  }
}
